@import "tailwindcss";

:root {
  --primary: #844204;
  --secondary: #a85a12;
  --accent: #d9a441;
  --background: #faf7f2;
  --dark: #1b1815;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--dark);
}

.container-custom {
  max-width: 1440px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}
.swiper-pagination {
  bottom: 40px !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: white !important;
  opacity: 0.6 !important;
}

.swiper-pagination-bullet-active {
  background: #d9a441 !important;
  opacity: 1 !important;
}
